

<div class="jumbotron center">
<h1>Pins Project</h1>
<p>Welcome to my rails project
<%= link_to "Sign Up", "#", class: "btn btn-primary" %></p>
<%= link_to "Log In", "#", class:"btn btn-primary" %>
</div>