
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg: #ecf0f1;
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; 
$navbar-height: 45px;
$navbar-inverse-bg: #27ae60;
$navbar-inverse-link-color: white;
$brand-primary: #f39c12;
$jumbotron-bg: #bdc3c7;

@import 'bootstrap';

.center {
	text-align: center;
}

.navbar-brand {
	font-weight: bold;
}
#pins {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}
